.signin-button,
.register-button,
.signout-button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signin-button:hover,
.register-button:hover,
.signout-button:hover {
  background-color: #b5389a;
  transform: scale(1.1)


}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #000;
}

.nav-links a {
  margin-right: 10px;
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ccc;
}
