.NutritionPage {
  background: #f7fafc;
}
.NutritionPage .nutrition-feed {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}
.white {
  color: rgb(0, 0, 0);
}
.NutritionPage .button {
  display: flex;
}
.NutritionPage .button button {
  flex: 1;
}

.NutritionPage { display: flex;
  margin-top: 500px;
  color: black;
  text-align: center;
  size: 34px;



}
