.ExercisePage .button {
  display: flex;
}
.ExercisePage .button button {
  flex: 1;
}
p{
  color: black;
}

.Exercise-Page {
  display: flex;
  margin-top: 500px;
  color: black;
  text-align: center;
  size: 34px;



}