.ExercisePage .button {
  display: flex;
  background: linear-gradient(to bottom right, #3498db, #c0392b, #9b59b6);
}
.ExercisePage .button button {
  flex: 1;
}
p{
  color: black;
}

.Exercise-Page {
  display: flex;
  margin-top: 500px;
  color: black;
  text-align: center;
  size: 34px;
  background: linear-gradient(to bottom right, #3498db, #c0392b, #9b59b6);


}